<include file="Index/header" />
<style type="text/css">
video{
  width: 100%;
}
#about-text{
	margin-top: 2rem;
  font-size: 1.5rem;  	
}
.service-box p {
  width: 56%;
}
.service-box p {
  width: 100%;
}
.service-box {
  margin-bottom: 2em;
}
.service-box h5{
  font-size: 1.4em;
  color: #252525;
  margin: 1em 0em 0.5em 0em;
}
.service-box p{
  color: #999;
  font-size: 0.9em;
  line-height: 1.8em;
  margin: 0 auto;
  width: 84%;
}
.service-box h5 {
  font-size: 1.2em;
}
.service-box {
  margin-bottom: 2em;
}
.service-box .icon img {
  position: relative;
  z-index: 100;
  transition: all 0.3s ease 0s;
}
.service-box {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: center;
}
.service-box .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background:#dfdfdf;
  margin: 0 auto;
  text-align: center;
  position: relative;	
}
.service-box .icon:before {
  content: '';
  width: 102%;
  height: 102%;
  border-radius: 50%;
  background: #B8D29B;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 10;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.service-box:hover .icon img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.service-box:hover .icon:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.glyphicon{
  position: relative;
  top: 33px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  left: 0px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index:999;
}
.glyphicon-leaf,.glyphicon-edit:before {
    color:#fff;
    font-size:36px;
}
.glyphicon-hourglass:before{
	color:#fff;
  font-size:30px;
}
pre{
    border-style: none;
    white-space: pre-wrap;
    font-family: arial, 微软雅黑;
    font-size: 0.9em;
}
a {
    text-decoration: none !important;
}
</style>
<!--公司介绍-->
<div class="container about-text">
  <div class="col-md-6">
   <p>{$basic.compintro|str_replace='\\\"','',###}</p>
  </div>
  <div class="col-md-6">
    <img class="img-responsive" src="/Public/images/about.jpg"/>
  </div>
</div>
<include file="Index/footer" />