	<div id="categories-3" class="widget widget_categories">
		<h3 class="title-border dkgreen title-bg-line">
			<span>Categories</span>
		</h3>		
		<ul>
			<volist name="menus" id="menu">
				<li class="cat-item cat-item-6"><a href="/main.html?cat={$menu.menu_id}">{$menu.name}</a> {$menu.count}
				</li>
			</volist>
		</ul>
	</div>
	<div id="tag_cloud-2" class="widget widget_tag_cloud">
		<h3 class="title-border dkgreen title-bg-line">
			<span>Tags</span>
		</h3>
		<div class="tagcloud">
			<a href="#" class="tag-cloud-link tag-link-16 tag-link-position-1" style="font-size: 8pt;" aria-label="dangerous (1 item)">dangerous</a>
		</div>
	</div>
</aside><!-- #secondary -->
</div><!-- End .row -->
</div><!-- End .container -->
</div><!-- #content -->
<!-- 联系我们 -->
<div class="section" id="cooperation" style="padding:50px">
	<div class="col-md-3"></div>
	<div class="col-xs-12 col-md-3">
		<h3>关于</h3>
	</div>
	<div class="col-xs-12 col-md-3">
		<h3>Tags</h3>
		<volist name="service" id="s">
			<p>{$s}</p>
		</volist>
	</div>
	<div class="col-md-3"></div>				
</div>
</div>
<div class="return-top" id="return_top">▲</div>
<script>
    /*
        思路：
            第一步：当页面加载完后，获取所要操作的 节点对象
            第二步：为window对象添加一个滚动条滚动事件onscroll
            第三步：
                    在滚动条滚动的过程中，不断的获取滚动条距离顶部的距离数值
                    当这个数值大于300的时候，显示出回到顶部图标
                    否则，隐藏回到顶部图标
            第四步：
                为回到顶部图标添加一个点击事件，滚动条回到顶部。            
    */
    var return_top = document.getElementById("return_top");
    var sTop;
    window.onscroll = function(){
        //sTop :滚动条距离顶部的距离数值
        sTop = document.body.scrollTop||document.documentElement.scrollTop;
        if(sTop>300){
            return_top.className = "return-top active";
        }else{
            return_top.className = "return-top";
        }
    }

    return_top.onclick = function(){
        var termId = setInterval(function(){
            sTop-=50;
            if(sTop<=0){

                clearInterval(termId);
            }
            window.scrollTo(0,sTop);

        },1);       
    }
</script>
<script src="/Public/js/jquery.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script src="/Public/js/home/main.js?version={$basic.md5version}"></script>
</body>
</html>