<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{$basic.description}">
  <meta name="author" content="e络工作室">
  <meta name="keywords" content="{$basic.keywords}">
  <link rel="shortcut icon" href="/Public/images/favicon.ico">
  <link rel="Bookmark" href="/Public/images/favicon.ico">
  <title>{$basic.title}</title>
  <link href="/Public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/Public/css/home/style(1).css?version={$basic.md5version}" type="text/css">
  <link rel="stylesheet" href="/Public/css/home/style.css?version={$basic.md5version}" type="text/css">
</head>
<body class="archive category category-phones category-3 custom-background wp-custom-logo">
<div id="wrapper">
  <header id="header" class="site-header" role="banner">
   <div class="container">
     <div id="navbar" class="navbar islemag-sticky">
      <nav id="site-navigation" class="navigation main-navigation" role="navigation">
       <div class="menu-main-menu-container">
         <ul id="primary-menu" class="nav-menu" aria-expanded="false">
          <li id="menu-item-91" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91"><a href="/index.html">首页</a>
           </li>
          <volist name="menus" id="menu">
           <li id="menu-item-91" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91"><a href="/main.html?cat={$menu.menu_id}">{$menu.name}</a>
           </li>
         </volist>
       </ul>
     </div>       
   </nav><!-- #site-navigation -->
 </div><!-- #navbar -->
</div>
</header><!-- End #header -->