<include file="Index/header" />
<script src="/Public/js/home/check.js"></script>
<script src="/Public/js/home/cart.js"></script>
<div class="container">
	<h4>购物车中有以下商品：</h4>
	<table cellpadding="0" cellspacing="0" border="1" width="100%">
	 <tr>
	 <td>商品名称</td>
	 <td>商品图片</td>	 
	 <td>购买单价</td>
	 <td>购买数量</td>
	 <td>操作</td>
	 </tr>
	 <tbody id="cartline">
	 <volist name="cartProducts" id="vo">
	 	<tr>		
	 		<td>{$vo.product_name}</td>
	 		<td><img width="150px" height="150px" src="{$vo.thumb}"></td>	 
	 		<td>{$vo.buy_price}</td>
	 		<td>{$vo.buy_amount}</td>
	 		<td><a href='/product/delOnProduct/id/{$vo.product_id}.html'>删除</a></td>
	 	</tr>
	 </volist>
	 </tbody>
	</table>
	<p class="text-right text-danger">合计金额:¥<span class="sum">0</span></p>
	<div class="text-right">
	<a href="#" class="btn btn-success" id="addtoOrder">确认购买</a>
	<a href="/product/clearCart.html" class="btn btn-warning">清空购物车</a>
	 </div>
 </div>
<include file="Index/footer" />