<include file="Index/header" />
<style type="text/css">
.partener{
    position: relative;
    padding: 0;
}
.partener img{
    width: 100%;
}
.lasted-box-01 {
    position: absolute;
    height: 60px;
    width: 12%;
    background: url(/Public/images/icons31.png) repeat;
    bottom: -1px;
    left: 0;
}
.lasted-box-02 {
    color: white;
    padding-left: 1em;
    position: absolute;
    height: 60px;
    width: 88%;
    left: 12%;
    bottom: -1px;
    background: url(/Public/images/icons41.png) repeat;
}
.lasted-box-02 span{
    font-size: 0.8em;
}
</style>
<div class="container ">
    <div class="col-md-5 partener">
        <img class="img-responsive" layout="None" src="/Public/images/20158262024554723800.jpg">
        <div class="lasted-box-01"></div>
        <div class="lasted-box-02">
            <p>大连众赢新业企业管理有限公司</p>
            <span>大连市西岗区鞍山路29-19号</span>
        </div> 
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <p>邮 编： 116000</p> 
        <p>邮 箱： zhangq@zyxy88.com</p>
        <p>电 话： 0411-65838877</p>
        <p>传 真： 0411-65838877</p>
    </div>       
</div>
<include file="Index/footer" />