<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <script src="/Public/js/kindeditor/kindeditor-all-min.js"></script>
  <div id="page-wrapper">

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>数据管理
            </li>
            <li class="active">
              <i class="fa fa-edit"></i> 添加
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-6">

          <form class="form-horizontal" id="singcms-form">
            <div class="form-group">
              <label for="inputcategory" class="col-sm-2 control-label">分类:</label>
              <div class="col-sm-5">
                <select class="form-control" name="category" id="category">
                  <option value='' >==请选择分类==</option>
                  <volist name="menus" id="menu">
                    <option value="{$menu.menu_id}">{$menu.name}</option>
                  </volist>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputcategory" class="col-sm-2 control-label">二级分类:</label>
              <div class="col-sm-5">
                <select class="form-control" name="sub_category" id="subcategory">
                  <option value='' >==请选择分类==</option>
                </select>
              </div>
            </div>           
            <div class="form-group">
              <label for="inputtitle" class="col-sm-2 control-label">标题:</label>
              <div class="col-sm-5">
                <input type="text" name="title" class="form-control" id="inputtitle" placeholder="请填写标题">
              </div>
            </div>
            <div class="form-group">
              <label for="inputsub_title" class="col-sm-2 control-label">副标题:</label>
              <div class="col-sm-5">
                <input type="text" name="sub_title" class="form-control" id="inputsub_title" placeholder="请填写副标题">
              </div>
            </div>
            <div class="form-group">
              <label for="inputkeywords" class="col-sm-2 control-label">关键词:</label>
              <div class="col-sm-5">
                <input type="text" name="keywords" class="form-control" id="inputkeywords" placeholder="请填写关键词">
              </div>
            </div>      
            <div class="form-group">
              <label for="inputdescription" class="col-sm-2 control-label">简介:</label>
              <div class="col-sm-5">
                <input type="text" name="description" class="form-control" id="inputdescription" placeholder="请填写新闻简介">
              </div>
            </div> 
            <div class="form-group">
              <label for="inputcount" class="col-sm-2 control-label">浏览次数:</label>
              <div class="col-sm-5">
                <input type="text" name="count" class="form-control" id="inputcount" value='0'>
              </div>
            </div>                                                    
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">缩图:</label>
              <div class="col-sm-5">
                <input id="file_upload"  type="file" multiple="true" >
                <img id="upload_org_code_img" width="150" height="150">
                <input id="file_upload_image" name="thumb" type="hidden" multiple="true">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">内容:</label>
              <div class="col-sm-5">
                <textarea class="input js-editor" id="editor_singcms" name="content" rows="20" ></textarea>
              </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">状态:</label>
                <div class="col-sm-5">
                    <input type="radio" name="status" id="optionsRadiosInline1" value="1" checked> 开启
                    <input type="radio" name="status" id="optionsRadiosInline2" value="0" > 关闭
                </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
              </div>
            </div>
          </form>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<script>
  var SCOPE = {
    'save_url' : '/main/add.htm',
    'jump_url' : '/main.htm',
    'subcat_url' : '/main/subcat.htm',
    'ajax_upload_image_url' : '/image/ajaxuploadimage.htm',
    'ajax_upload_swf' : '/Public/js/party/uploadify.swf',
  };

</script>
<!-- /#wrapper -->
<script src="/Public/js/admin/image.js"></script>
<script>
  // 6.2
  KindEditor.ready(function(K) {
    window.editor = K.create('#editor_singcms',{
      uploadJson : '/image/kindupload.htm',
      afterBlur : function(){this.sync();}, //
    });
  });
</script>
<include file="Index/footer" />