<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <div id="page-wrapper">

    <div class="container-fluid" >

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>商品管理
            </li>
            <li class="active">
              <i class="fa fa-table"></i>商品列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div >
        <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加 </button>
      </div>
      <div class="row">
        <form action="/admin.php" method="get">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">分类</span>
              <select class="form-control" name="catid">
                <option value='' >全部分类</option>
                <foreach name="productCats" item="sitenav">
                  <eq name="sitenav.product_cat_id" value="$catid">
                    <option value="{$sitenav.product_cat_id}" selected>{$sitenav.product_cat_name}</option>
                  <else/>
                    <option value="{$sitenav.product_cat_id}" >{$sitenav.product_cat_name}</option>
                  </eq>                
                </foreach>
              </select>
            </div>
          </div>
          <input type="hidden" name="c" value="product"/>
          <input type="hidden" name="a" value="index"/>
          <div class="col-md-3">
            <div class="input-group">
              <input class="form-control" name="title" type="text" value="{$title}" placeholder="商品名" />
                <span class="input-group-btn">
                  <button id="sub_data" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3></h3>
          <div class="table-responsive">
            <form id="singcms-listorder">
              <table class="table table-bordered table-hover singcms-table">
                <thead>
                <tr>
                  <th id="singcms-checkbox-all" width="10"><input type="checkbox"/></th>
                  <th>推荐</th>
                  <th width="14">排序</th><!--6.7-->
                  <th>id</th>
                  <th>分类</th>
                  <th>商品名</th>
                  <th>零售价格</th>
                  <th>大图</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="products" id="product">
                  <tr>
                    <td><input type="checkbox" name="pushcheck" value="{$product.product_id}"></td>
                    <td style="color:red" id="{$product.product_id}" data-value="{$product.pstatus}">
                    <if condition="$product['pstatus'] eq 1">推荐<else/></if>
                    </td>
                    <td><input size=4 type='text'  name='listorder[{$product.product_id}]' value="{$product.listorder}"/></td><!--6.7-->
                    <td>{$product.product_id}</td>
                    <foreach name="productCats" item="pc">
                    <eq name="pc.product_cat_id" value="$product.catid">
                    <td>{$pc.product_cat_name}</td>
                    </eq>
                    </foreach>
                    <td>{$product.product_name}</td>
                    <td>{$product.product_price}</td>
                    <td><img width="150px" src="{$product.thumb}"></td>
                    <td><span  attr-status="<if condition="$product['status'] eq 1">0<else/>1</if>"  attr-id="{$product.product_id}" class="sing_cursor singcms-on-off" id="singcms-on-off" >{$product.status|status}</span></td>
                    <td><span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="{$product.product_id}" ></span>
                      <a href="javascript:void(0)" id="singcms-delete"  attr-id="{$product.product_id}"  attr-message="删除">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                      </a>

                    </td>
                  </tr>
                </volist>

                </tbody>
              </table>
              <nav>
                  <ul class="pagination">
                      {$pageRes}
                  </ul>
              </nav>
              <div>
                <button  id="button-listorder" type="button" class="btn btn-primary dropdown-toggle" ><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>更新排序</button>
                <button id="singcms-push" type="button" class="btn btn-primary">推送至热销商品</button>              
              </div>            
            </form>
 <input type="hidden" id="select-push" value="1">            
          </div>
        </div>

      </div>
      <!-- /.row -->



    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>
  var SCOPE = {
    'edit_url' : '/admin.php?c=product&a=edit',
    'add_url' : '/admin.php?c=product&a=add',
    'set_status_url' : '/admin.php?c=product&a=setStatus',
    'sing_news_view_url' : '/index.php?c=view',
    'listorder_url' : '/admin.php?c=product&a=listorder',
    'push_url' : '/admin.php?c=product&a=push',
  }
</script>
<include file="Index/footer" />