<include file="Index/header" />
<style type="text/css">
.franchisee{
    margin-top: 1rem;   
    margin-bottom: 1rem;
}
.franchisee .col-md-3{
    margin-bottom: 1rem;
}
.franchisee p.text-danger{
    opacity: 0.5;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid #a4a5aa;
}  
.padd15{
    padding-right: 15px;
    padding-left: 15px;
}
</style>
<!--加盟政策-->
<div class="container franchisee">
    <p class="text-danger">加盟政策</p>
    <p class="padd15">
        化妆品品牌代理现状：目前中国市场，有一定知名度及渠道销售之品牌均是名额难求如：保洁、欧莱雅、自然堂等，凡已取得这些品牌代理权之人士，那一个不是腰缠万贯，叱咤风云！纵使有些空白地区有代理名额，也是门槛较高，需要雄厚资金，普通人只能望而却步；而一些国产小品牌虽然代理门槛低，容易取得代理权，但几乎无知名度，无销售渠道，完全靠代理商自行发展。这种代理一般经营都很困难，要知道没有知名度、没有渠道商、没有终端店、没有客户群，产品销售是多么困难！
    </p>
    <p class="text-danger">加盟问答</p>
    <p class="padd15">
        问题一：雅琳娜的发展现状如何？ 
            雅琳娜是北京御美坊化妆品有限公司旗下经营的品牌化妆品连锁店品牌，有11年的历程，超过1700家门店，与国内外100多个知名品牌化妆品合作，7000万的现库存。

        问题二：对连锁加盟商有什么要求？ 
            有坚毅负责的性格和创业的决心、承担投资风险的能力、家人亲友的支持、良好沟通协调能力，深广的人脉资源、基本的管理能力、较好的资金调度能力、以及清晰的投资者角色定位与权限。 
    </p>
</div>
<!--加盟商-->
<volist name="result['franchiseeCats']" id="vo">
    <div class="container franchisee">
        <p class="text-danger">{$vo.name}</p>
        <volist name="result['franchisees']" id="po">
            <eq name="vo.franchisee_cat_id" value="$po.catid">
                <div class="col-md-3">
                    <a href="/weixin.php?c=franchisee&a=detail&id={$po.franchisee_id}"><img class="img-responsive" src="{$po.thumb}"/></a>
                    <h4><a href="/weixin.php?c=franchisee&a=detail&id={$po.franchisee_id}">{$po.franchisee_name}</a></h4>
                </div>
            </eq>
        </volist>
    </div>
</volist>
<include file="Index/footer" />