<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <script src="/Public/js/kindeditor/kindeditor-all.js"></script>
  <div id="page-wrapper">

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>订单管理
            </li>
            <li class="active">
              <i class="fa fa-edit"></i> 编辑
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-6">

          <form class="form-horizontal" id="singcms-form">           
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">订单号:</label>
              <div class="col-sm-5">
                <input value="{$order.order_number}" type="text" name="order_number" readonly class="form-control" id="inputname" >
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">备注:</label>
              <div class="col-sm-9">
                <input value="{$order.instruc}" type="text" class="form-control" name="instruc" id="inputPassword3" placeholder="这里写备注" >
              </div>
            </div>                                            
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">状态:</label>
                <div class="col-sm-5">
                    <input type="radio" name="paystatus" id="optionsRadiosInline1" value="2" <if condition="$order.paystatus eq 2">checked</if>> 已结帐
                    <input type="radio" name="paystatus" id="optionsRadiosInline2" value="1" <if condition="$order.paystatus eq 1">checked</if>> 未结帐
                </div>                
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
              </div>
            </div>
          </form>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<script>
  var SCOPE = {
    'save_url' : '/admin.php?c=order&a=save',
    'jump_url' : '/admin.php?c=order',
    'ajax_upload_image_url' : '/admin.php?c=image&a=ajaxuploadimage',
    'ajax_upload_swf' : '/Public/js/party/uploadify.swf',
  };

</script>
<include file="Index/footer" />