<include file="Index/header" />
<div class="site-content container">
  <div class="container">
   <div class="row">
    <div class="islemag-content-left col-md-8">
     <header class="page-header">
       <h1>
         <span>
           <span class="category-name">{$result['categoryname']}
           </span>							
         </span>
       </h1>
     </header><!-- .page-header -->
      <article id="post-84" class="entry post-84 post type-post status-publish format-standard has-post-thumbnail hentry category-phones tag-extreme tag-led tag-powerful tag-smart">
      <div class="entry-date">
        <div>{$data.update_time|getDay}
          <span>{$data.update_time|getMonth}</span>
        </div>
      </div>
      <h2 class="entry-title">
        {$data.title}
      </h2>
      <div class="entry-content">
        <p>{$data.content}</p>
      </div><!-- .entry-content -->
    </article>


  <div class="reviewzine-pagination"></div>		
</div><!-- End .islemag-content-left -->

<aside class="sidebar islemag-content-right col-md-4" role="complementary">
 <div id="recent-posts-3" class="widget widget_recent_entries">		
   <h3 class="title-border dkgreen title-bg-line">
     <span>小分类</span>
   </h3>		
   <ul>
    <volist name="result['submenus']" id="vo">
      <li>
       <a href="/main/subCategory.html?id={$vo.menu_id}">{$vo.name}
       </a>
     </li>
   </volist>
 </ul>
</div>
<div id="categories-3" class="widget widget_categories">
 <h3 class="title-border dkgreen title-bg-line">
   <span>Categories</span>
 </h3>		
 <ul>
   <volist name="menus" id="menu">
     <li class="cat-item cat-item-6"><a href="/main.html?cat={$menu.menu_id}">{$menu.name}</a> {$menu.count}
     </li>
   </volist>
 </ul>
</div>
<div id="tag_cloud-2" class="widget widget_tag_cloud">
  <h3 class="title-border dkgreen title-bg-line">
    <span>Tags</span>
  </h3>
  <div class="tagcloud">
   <a href="https://demo.themeisle.com/reviewzine/tag/dangerous/" class="tag-cloud-link tag-link-16 tag-link-position-1" style="font-size: 8pt;" aria-label="dangerous (1 item)">dangerous</a>
 </div>
</div>
</aside><!-- #secondary -->
</div><!-- End .row -->
</div><!-- End .container -->
</div><!-- #content -->
<include file="Index/footer" />