<include file="Index/header" />
<div class="site-content container">
  <div class="container">
   <div class="row">
    <div class="islemag-content-left col-md-8">
     <header class="page-header">
       <h1>
         <span>
           <span class="category-name">{$result['categoryname']}
           </span>							
         </span>
       </h1>
     </header><!-- .page-header -->
     <volist name="result['main']" id="vo">
      <article id="post-84" class="entry post-84 post type-post status-publish format-standard has-post-thumbnail hentry category-phones tag-extreme tag-led tag-powerful tag-smart">
       <div class="entry-media">
        <figure>
         <a href="/main/detail.html?id={$vo.main_id}">
          <img width="643" height="430" src="{$vo.thumb}" class="attachment-islemag_blog_post_no_crop size-islemag_blog_post_no_crop wp-post-image" alt=""  sizes="(max-width: 643px) 100vw, 643px"></a>
        </figure>
      </div><!-- End .entry-media -->
      <div class="entry-date">
        <div>{$vo.update_time|getDay}
          <span>{$vo.update_time|getMonth}</span>
        </div>
      </div>
      <h2 class="entry-title">
        <a href="/main/detail.html?id={$vo.main_id}" rel="bookmark">{$vo.title}</a>
      </h2>
      <div class="entry-content">
        <p>{$vo.description} […]</p>
      </div><!-- .entry-content -->
    </article>
  </volist>

  <div class="reviewzine-pagination"></div>		
</div><!-- End .islemag-content-left -->

<aside class="sidebar islemag-content-right col-md-4" role="complementary">
 <div id="recent-posts-3" class="widget widget_recent_entries">		
   <h3 class="title-border dkgreen title-bg-line">
     <span>小分类</span>
   </h3>		
   <ul>
    <volist name="result['submenus']" id="vo">
      <li>
       <a href="/main/subCategory.html?cat={$vo.menu_id}">{$vo.name}
       </a>
     </li>
   </volist>
 </ul>
</div>
<include file="Index/footer" />