<include file="Index/header" />
<div class="container">
	<h4>购物车中有以下商品：</h4>
	<table cellpadding="0" cellspacing="0" border="1" width="100%">
	 <tr>
	 <td>商品名称</td>
	 <td>商品图片</td>	 
	 <td>购买单价</td>
	 <td>购买数量</td>
	 <td>操作</td>
	 </tr>
	 <tbody id="cartline">
	 <volist name="cartProducts" id="vo">
	 	<tr>
	 		<td>{$vo.product_name}</td>
	 		<td><img width="150px" height="150px" src="{$vo.thumb}"></td>		 		
	 		<td>{$vo.buy_price}</td>
	 		<td>{$vo.buy_amount}</td>
	 		<td><a href='/weixin.php?c=product&a=delOnProduct&id={$vo.product_id}'>删除</a></td>
	 	</tr>
	 </volist>
	 </tbody>
	</table>
	<p class="text-right text-danger">合计金额:¥<span class="sum">0</span></p>
	<div class="text-right">
	<a href="#" class="btn btn-success" id="addtoOrder">确认购买</a>
	<a href="/weixin.php?c=product&a=clearCart" class="btn btn-warning">清空购物车</a>
	 </div>
 </div> 
 <script type="text/javascript">
 $(document).ready(function(){
 	var trList = $("#cartline").children("tr");
 	var kingaku = 0;
    for (var i=0;i<trList.length;i++) {
        var tdArr = trList.eq(i).find("td");
        var priceline = tdArr.eq(2).html();//单价
        var amountline = tdArr.eq(3).html();//数量	
        kingaku += parseInt(priceline)*parseInt(amountline);
    }
    $('span.sum').html(kingaku);
 });

var SCOPE = {
'push_url' : '/weixin.php?c=product&a=generateOrder',
'jump_url' : '/weixin.php?c=product&a=cartDetail',
};

$("#addtoOrder").click(function(){
    postData = {};
    // 将获取到的数据post给服务器
    url = SCOPE.push_url;
    jump_url = SCOPE.jump_url;
    $.post(url,postData,function(result){
        if(result.status == 1) {
            //成功
            return dialog.success(result.message,jump_url);
        }else if(result.status == 0) {
            // 失败
            return dialog.error(result.message);
        }
    },"JSON");
});  
</script>
<include file="Index/footer" />